language: python
python:
  - "2.6"
  - "2.7"
install:
  - pip install unittest2==0.5.1 --use-mirrors
  - pip install coveralls --use-mirrors
  - python setup.py build
  - python setup.py install
before_script:
  - env
  - git config --global user.email "noreply@travis-ci.org"
  - git config --global user.name "Travis"
script:
  - coverage run --source=pynag tests/test.py
after_success:
  - coveralls
notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#pynag"
    on_failure: always
    on_success: change

