recursive-include etc *
recursive-include docs *
recursive-include examples *
recursive-include debian *
include AUTHORS
include LICENSE
include README
include CHANGES
include pynag.spec
include Makefile
