Package: pynag
Version: 0.4.2-1
Architecture: all
Maintainer: Pall Sigurdsson <palli@opensource.is>
Installed-Size: 248
Depends: python2.7, python (>= 2.7.1-0ubuntu2), python (<< 2.8)
Section: python
Priority: optional
Description: pynag - Python Nagios Extension
 .
 pynag contains tools for pragmatically handling configuration file maintenance
 a nd plugin development.
